<ion-view title="分析" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="page3-list8">
      <ion-item id="page3-list-item53">今日营养摄入量</ion-item>
      <ion-item id="page3-list-item54">今日营养报告</ion-item>
      <ion-item id="page3-list-item55">今日推荐食谱</ion-item>
    </ion-list>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>