<ion-view title="食记" id="page2">
 <ion-header-bar class="bar bar-header">
      <h1 class="title">食记</h1>
      <button class="button" ng-click="takePicture()">
        <i class ="ion-plus" style="font-size: 30px"></i>
      </button>


    </ion-header-bar>
  <ion-content class="has-header">
    <ion-list id="page2-list1">
      <ion-item class="item-thumbnail-left" id="page2-list-item25">
        <h2>31 May</h2>
        <p>{{ log }}</p>
        <p>todo</p>
        <img id = "asd">
        <ion>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page2-list-item26">
        <h2>30 May</h2>
        <p>todo</p>
      </ion-item>
      
    </ion-list>
    <button class="button">
  Default
</button>
  </ion-content>
</ion-view>